ninja
pybind11
trimesh
diffusers
tqdm
einops
opencv-python
numpy
torch
transformers
torchvision
torchaudio
ConfigArgParse
xatlas
scikit-learn
scikit-image
gevent
geventhttpclient
facexlib
accelerate
ipdb
omegaconf
pymeshlab
pytorch_lightning
taming-transformers-rom1504
kornia
rembg
onnxruntime
pygltflib
sentencepiece
gradio
fastapi
uvicorn